<#include "./include/header.html">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="padding:10px;height:350px">
		姓名:<input type="text" name="name">
		<button id="button" type="button">restApi测试</button>
		
		<br><br>
		
		interface:soap
		<button id="jsonButton" type="button">soap测试</button>
		<br><br>
		
		interface:rest
		<button id="jsonButton2" type="button">rest测试</button>
	</div>
	<div id="content" style="font-size:30px;text-align: center">
	
	</div>
</body>
<script>
	$("#button").click(function(){
		var data = JSON.stringify({"restApiName" :"meixl","restApiPass" :"meixl"});
		$.ajax({
			url:"http://192.168.10.27:8081/system/restapi/test?restApiName=meixl&restApiPass=meixl",
			//url:"http://192.168.10.27:8081/system/restapi/test",
			//contentType:'application/json',
			type:"Post",
			//data: data,
			dataType:"text",  
	        async:false,  
	        cache:false, 
			success:function(data){
				alert(data)
			},
			error:function(er){
				alert("error")
			}
		})
	})
	
	$("#jsonButton").click(function(){
		$.ajax({
			url:"${base.contextPath}/sys/interface/testSoap",
			data:{},
			dataType:"json",
			type:"post",
			cache:false,
			success:function(data){
				$("#content").text("Soap ok");
			},
			error:function(er){
				alert("error")
			}
		})
	})
	
	$("#jsonButton2").click(function(){
		$.ajax({
			url:"${base.contextPath}/sys/interface/testRest",
			data:{},
			dataType:"json",
			type:"post",
			cache:false,
			success:function(data){
				$("#content").text("Rest ok");
			},
			error:function(er){
				alert("error")
			}
		})
	})
	
</script>
</html>