<#include "./include/header.html">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="padding:10px;height:350px">
		<a href="qqLogin@Login">
			<img src="${base.contextPath}/resources/images/login-qq.png" width="60" height="60">
		</a>
		<br><br>
	
		姓名:<input id="name" type="text" name="name">
		<button id="restApi" type="button">调用shop的restApi测试</button>
		<br><br>
		
		interface:soap
		<button id="jsonButton" type="button">soap测试</button><span>http://localhost:8081/system/ws/helloWord/</span>
		<br><br>
		
		interface:rest
		<button id="jsonButton2" type="button">rest测试</button><span>http://localhost:8081/system/ws/helloWord2/rest/json</span>
		<br><br>
		
		job:quartz
		<button id="jsonButton3" type="button">quartz测试</button>
		<br><br>
		
		DataSource:writeDS
		<button id="writeButton" type="button">读写库测试</button>
		<br><br>
		
		DataSource:readDS
		<button id="readButton" type="button">只读库测试</button>
		
		<br><br>
		
		websocket:spring websocket
		<button id="websocket" type="button">websocket单个用户测试</button>
		<br><br>
		websocket:spring websocket
		<button id="websocketAll" type="button">websocket全部用户测试</button>
		
		
		<br><br>
		kafka: spring kafka
		<button id="kafka" type="button">kafka发送消息测试</button>
	</div>
	<div id="tips" style="font-size:30px;text-align: center">
	</div>
	<div id="content" style="font-size:30px;text-align: center">
	</div>
</body>
<script>

	//测试  restApi
	$("#restApi").click(function(){
		var data = JSON.stringify({"restApiName" :"meixl","restApiPass" :"meixl"});
		$.ajax({
			//url:"http://localhost:8081/system/restapi/test?restApiName=meixl&restApiPass=meixl",
			url:"http://localhost:8080/shop/restapi/shop?restApiName=meixl&restApiPass=meixl",
			//contentType:'application/json',
			data:{restContent : $("#name").val()},
			type:"Post",
			dataType:"json",  
	        async:false,  
	        cache:false, 
			success:function(data){
				alert(data)
			},
			error:function(er){
				alert("error")
			}
		})
	})
	
	//测试 接口  soap
	$("#jsonButton").click(function(){
		$.ajax({
			url:"${base.contextPath}/sys/interface/testSoap",
			data: {interfaceUrl: "http://localhost:8081/system/ws/helloWord/"},
			dataType:"json",
			type:"post",
			cache:false,
			success:function(data){
				$("#tips").text("Soap ok");
				var rows = data.rows;
				var text = "";
				for(var i in rows){
					text += "userName = "+ rows[i].userName+ ";";
				}
				$("#content").text(text);
			},
			error:function(er){
				alert("error")
			}
		})
	})
	
	//测试 接口  rest
	$("#jsonButton2").click(function(){
		$.ajax({
			url:"${base.contextPath}/sys/interface/testRest",
			data: {interfaceUrl: "http://localhost:8081/system/ws/helloWord2/rest/json"},
			dataType:"json",
			type:"post",
			cache:false,
			success:function(data){
				$("#tips").text("Rest ok");
				var rows = data.rows;
				var text = "";
				for(var i in rows){
					text += "userName = "+ rows[i].userName+ ", phone = " + rows[i].phone +";";
				}
				$("#content").text(text);
			},
			error:function(er){
				alert("error")
			}
		})
	})
	
	// 测试  定时任务job
	$("#jsonButton3").click(function(){
		$.ajax({
			url:"${base.contextPath}/db/test/write",
			data:{},
			dataType:"json",
			type:"post",
			cache:false,
			success:function(data){
				$("#tips").text(data.message);
			},
			error:function(er){
				alert("error")
			}
		})
	})
	
	//读写库
	$("#writeButton").click(function(){
		$.ajax({
			url:"${base.contextPath}/db/test/write",
			data:{},
			dataType:"json",
			type:"post",
			cache:false,
			success:function(data){
				$("#tips").text("write ok");
				var rows = data.rows;
				var text = "";
				for(var i in rows){
					text += "userName = "+ rows[i].userName+ ", phone = " + rows[i].phone +" | <br>";
				}
				$("#content").html(text);
			},
			error:function(er){
				alert("error")
			}
		})
	})
	
	//只读库
	$("#readButton").click(function(){
		$.ajax({
			url:"${base.contextPath}/db/test/read",
			data:{},
			dataType:"json",
			type:"post",
			cache:false,
			success:function(data){
				$("#tips").text("read ok");
				var rows = data.rows;
				var text = "";
				for(var i in rows){
					text += "userName = "+ rows[i].userName+ ", phone = " + rows[i].phone +" | <br>";
				}
				$("#content").html(text);
			},
			error:function(er){
				alert("error")
			}
		})
	})
	
	$("#websocket").click(function(){
   		$.ajax({
   			url:"${base.contextPath}/testWebSocket/sendToUser",
   			data:{},
   			dataType:"json",
   			type:"post",
   			cache:false,
   			success:function(data){
   				//alert(data);
   			},
   			error:function(er){
   				alert("error")
   			}
   		})
	  })
	  
	  $("#websocketAll").click(function(){
   		$.ajax({
   			url:"${base.contextPath}/testWebSocket/sendToAll",
   			data:{},
   			dataType:"json",
   			type:"post",
   			cache:false,
   			success:function(data){
   				//alert(data);
   			},
   			error:function(er){
   				alert("error")
   			}
   		})
	  })
	  
	  $("#kafka").click(function(){
   		$.ajax({
   			url:"${base.contextPath}/kafka/test",
   			data:{param:"kafka"},
   			dataType:"json",
   			type:"post",
   			cache:false,
   			success:function(data){
   				alert(data.message);
   			},
   			error:function(er){
   				alert("error")
   			}
   		})
	  })
</script>
</html>