<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTDMapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.account.mapper.UserMapper">
	<!-- <cache type="com.ssm.util.LoggingRedisCache"></cache> -->
	<resultMap id="BaseResultMap" type="com.ssm.account.dto.User" extends="com.ssm.mapper.BaseMapper.BaseResultMap">
        <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
        <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="PHONE" property="phone" jdbcType="VARCHAR" />
        <result column="START_ACTIVE_DATE" property="startActiveDate" javaType="DATE"/>
        <result column="END_ACTIVE_DATE" property="endActiveDate" javaType="DATE"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="LAST_PASSWORD_UPDATE_DATE" property="lastPasswordUpdateDate" javaType="DATE"/>
        <result column="LAST_LOGIN_DATE" property="lastLoginDate" javaType="DATE"/>
        <result column="FIRST_LOGIN" property="firstLogin" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="EMPLOYEE_ID" property="employeeId" jdbcType="DECIMAL" />
        <result column="EMPLOYEE_CODE" property="employeeCode" jdbcType="VARCHAR" />
        <result column="EMPLOYEE_NAME" property="employeeName" jdbcType="VARCHAR" />
    </resultMap>

    
    <sql id="Base_Column_List">
        USER_ID, USER_NAME,USER_TYPE, PASSWORD, EMAIL, PHONE, START_ACTIVE_DATE,
        END_ACTIVE_DATE, STATUS,LAST_PASSWORD_UPDATE_DATE,LAST_LOGIN_DATE,FIRST_LOGIN,DESCRIPTION
    </sql>

    <update id="updatePassword">
        update tb_user u
        set u.password = #{password,jdbcType=VARCHAR},
            u.LAST_PASSWORD_UPDATE_DATE = current_timestamp
        where u.user_id = #{userId,jdbcType=DECIMAL}
    </update>

    <update id="updateFirstLogin">
        update tb_user u
        set u.first_login = #{status,jdbcType=VARCHAR}
        where u.user_id = #{userId,jdbcType=DECIMAL}
    </update>

    <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select 
        <include refid="Base_Column_List" />,
        <include refid="com.ssm.mapper.BaseMapper.Base_Column_List"/>
        from tb_USER
        where upper(USER_NAME) = upper(#{userName,jdbcType=VARCHAR})
    </select>
    
    <select id="selectByIdList" resultMap="BaseResultMap">
        select
        USER_ID, EMAIL, USER_NAME
        from tb_USER
        where USER_ID in
        <foreach collection="list" open="(" separator="," close=")" item="userId" index="index">
            #{userId,jdbcType=DECIMAL}
        </foreach>
    </select>

    <select id="selectUsers" resultMap="BaseResultMap" parameterType="com.ssm.account.dto.User">
        select
        <include refid="Base_Column_List" />,
        <include refid="com.ssm.mapper.BaseMapper.Base_Column_List"/>,su.employee_id,(select he.employee_code from hr_employee he
        where su.employee_id=he.employee_id) employee_code,(select he.name from hr_employee he
        where su.employee_id=he.employee_id) employee_name
        from tb_user su
        <where>
            <if test="userId!=null">
                and su.user_id=#{userId}
            </if>
            <if test="userName!=null">
                and su.user_name LIKE concat('%', concat(#{userName,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="userType!=null">
                and su.user_type=#{userType}
            </if>
        </where>
        <if test="sortname !=null">
            <bind name="_colName" value="@com.ssm.mybatis.util.OGNL@unCamel(sortname)"/>
            order by su.${_colName} ${sortorder}
        </if>
        <if test="sortname ==null">
            order by su.user_id asc
        </if>
    </select>
</mapper>