<#include "../../include/header.html">
<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
        createSequence: function () {
            $('#Grid').data('kendoGrid').addRow();
        },
        saveSequence: function () {
            $('#Grid').data('kendoGrid').saveChanges();
        },
        querySequence: function (e) {
            $('#Grid').data('kendoGrid').dataSource.page(1);
        }
    });
</script>
<body>
<script src="${base.contextPath}/common/code?fndColumType=FND.SEQ_DATE_FORMAT" type="text/javascript">		
</script>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" onclick="uploadWindow()"><@spring.message "sysfile.upload"/></span>
        <span onclick="deleteData()" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
            <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "文件编码"/>'
                   data-bind="value:model.fileCode" class="k-textbox">
            <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "文件名"/>'
                   data-bind="value:model.fileName" class="k-textbox">
        <span class="btn btn-primary" style="float:left;width:70px" data-bind="click:querySequence" type="submit"><@spring.message "hap.query"/></span>
        <div style="clear:both"></div>
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>
    <div style="clear:both">
        <div id="Grid"></div>
    </div>
    <div id="dialog"></div>
</div>

<script type="text/javascript">

    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/fnd/ftp/query",
                type: "POST",
                dataType: "json"
            },
            destroy: {
                url: BaseUrl + "/fnd/ftp/remove",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "fileId",
                fields: {
                	/* objectVersionNumber: {defaultValue: 1} */
                }
            }
        }
    });

    $("#Grid").kendoGrid({
        dataSource: dataSource,
        height: '100%',
        resizable: true,
        scrollable: true,
        navigatable: false,
        columnMenu:true,
        reorderable:true,
        selectable: 'multiple, rowbox',
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "fileCode",
                title: '<@spring.message "文件编码"/>',
                width: 50,
                headerAttributes: { "class": "table-header-cell",style: "text-align: center"},
                attributes: {style: "text-align:center"}
            },
            {
                field: "fileName",
                title: '<@spring.message "文件名"/>',
                width: 120,
                headerAttributes: { "class": "table-header-cell",style: "text-align: center"},
            },
            {
                field: "filePath",
                title: '<@spring.message "文件路径"/>',
                width: 180,
                headerAttributes: { "class": "table-header-cell",style: "text-align: center"}
            },
            {
            	field : 'fileSize',
            	title: '<@spring.message "文件大小(M)"/>',
            	width: 60,
            	headerAttributes: { "class": "table-header-cell",style: "text-align: center"},
            	attributes: {style: "text-align:center"},
            	template: function(dataItem){
					return (dataItem.fileSize /(1024.0*1024)).toFixed(3) || "";
	           	}
            },
            {
            	field: "fileType", 
               	title: '<@spring.message "文件类型"/>', 
             	width:"150px",
             	headerAttributes: { "class": "table-header-cell",style: "text-align: center"},
             	attributes: {style: "text-align:center"}
            },
            {
            	field: "uploadDate", 
               	title: '<@spring.message "上传日期"/>', 
             	width:"90px",
             	headerAttributes: { "class": "table-header-cell",style: "text-align: center"},
			    attributes: {"class": "table-cell",style: "text-align: center"},
			    format:"{0: yyyy/MM/dd HH:mm:ss}"
            },
            {
            	command	:  [
            	   {name:"destroy"},
            	   {  
     		             name: '下载',  
     		             text: "[下载]",
     		             click: function(e) {  
     		                var data = this.dataItem($(e.target).closest("tr"));  
     		                if(data && data.filePath && data.fileName){
     		       	    		window.open("${base.contextPath}/fnd/ftp/download?fileName=" +data.fileName+"&filePath="+data.filePath+"&newName=invoice");
     		           		}
     		             }
     		        }
            	],
	         	width:"60px" ,
	         	headerAttributes: { "class": "table-header-cell",style: "text-align: center"},
             	attributes: {style: "text-align:center"}
            },
        ],
        editable: "inline"
    }).data("kendoGrid");
    
    /*打开文件上传对话框*/
    window.uploadWindow = function (adjustmentId,showButton) {
        var dialog = $("#dialog").kendoWindow({
        	actions: ["Close"],
        	animation: {
		    	close: { effects: "fadeOut zoom:out",duration: 300},
			    open: {effects: "fadeIn zoom:in",duration: 300}
		    },
            width: 780,
            height: 550,
            title:'<@spring.message "文件上传"/>',
            visible: false,
            iframe: true,
            modal: true,
            content: '${base.contextPath}/fnd/ftp/file_upload.html'
        }).data("kendoWindow");
        dialog.center().open();
    };

    function deleteData() {
        Hap.deleteGridSelection({
            grid: $('#Grid')
        });
    }
    
    //自适应屏幕
    Hap.autoResizeGrid("#Grid");
    
</script>
</body>
</html>