<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTDMapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.account.mapper.UserRoleMapper">
	<!-- <cache type="com.ssm.util.LoggingRedisCache"></cache> -->
	<resultMap id="BaseResultMap" type="com.ssm.account.dto.UserRole" extends="com.ssm.mapper.BaseMapper.BaseResultMap">
    <id column="ur_id" property="urId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="DEFAULT_FLAG" property="defaultFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ur_id, USER_ID, ROLE_ID, DEFAULT_FLAG
  </sql>
  
  <delete id="deleteByUserId" parameterType="java.lang.Long" >
    delete from tb_USER_ROLE
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  
  <delete id="deleteByRecord" parameterType="com.ssm.account.dto.UserRole">
    delete from tb_USER_ROLE
    where user_id = #{userId,jdbcType=DECIMAL}
    AND role_id = #{roleId,jdbcType=DECIMAL}
  </delete>
    <delete id="deleteByRoleId" parameterType="java.lang.Long">
        delete from tb_USER_ROLE
        where role_id = #{roleId,jdbcType=DECIMAL}
    </delete>

</mapper>